{% extends "layout.html" %}
{% block body_end %}
<form action="/add" method="post">
  <label>Protocol</label>
  <select name="protocol">
    <option value="http">http</option>
    <option value="https">https</option>
  </select><br/>
  <label for="subdomain">Domain_name:</label><br />
  <input id="subdomain" name="subdomain" type="text" value="" /><br />
  <label for="head_content">HEAD_CONTENT:</label><br />
  <textarea id="head_content" name="head_content"></textarea><br />
  <label for="body_content">BODY_CONTENT:</label><br />
  <textarea id="body_content" name="body_content"></textarea><br />
  <input type="submit">
</form>
{% endblock %}
