<!doctype html>
<html>
    <head>
        <title>myapp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
          #subdomain { width: 600px; }
          #head_content { width: 600px; height: 300px; }
          #body_content { width: 600px; height: 50px; }
        </style>
        {% block head_end %}{% endblock %}
    </head>
    <body>
        <h3>active domain list</h3>
        <ul>
        {% for url in active_urls %}
            <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
        </ul>
        {% block body_end %}{% endblock %}
    </body>
</html>
